<ion-header>
  <ion-toolbar>
  <ion-buttons slot="start">
  <ion-menu-button></ion-menu-button>
  </ion-buttons>
    <ion-title>
      Book Store
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/123.png" alt="" />
      <ion-card-header>
        <ion-card-subtitle>Hello</ion-card-subtitle>
        <ion-card-title>Welcome to Book Store</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p> Selamat Datang di Toko Buku Online , Disini kami menyediakan berbagai macam buku. mulai dari Horor sampai Romantis</p>
      </ion-card-content>
    </ion-card>
    
</ion-content>
