<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list>
  <ion-item href="/tabs/tab3">
    <ion-label class="ion-text-center">Horor</ion-label>
  <ion-icon name="logo-snapchat"></ion-icon>
  </ion-item>
  
  <ion-item href="/tabs/tab3">
    <ion-label class="ion-text-center">Romance</ion-label>
  <ion-icon name="md-heart"></ion-icon>
  </ion-item>
  
</ion-list>
</ion-content>